.list-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 400px;
  list-style-type: none;
  margin: 20px;
}
.img {
  width: 100%;
}
.name {
  color: #475569;
  font-weight: 500;
  padding-left: 10px;
}
.description {
  color: #64748b;
  padding-left: 10px;
}
